.custom-navbar {
  background-color: #000080;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  height: 7.5vh;
  display: flex;
  align-items: center; /* Ensure content aligns vertically */
}

.logout {
  margin-top: 6px;
}

.center-section {
  font-size: 18px;
  display: flex;
  justify-content: center; /* Center the content horizontally */
  align-items: center; /* Center the content vertically */
  flex-grow: 1; /* Take up available space */
}

.bell {
  margin-top: 6px;
}

.news-bar-container {
  display: flex;
  align-items: center;
  background-color: red;
  color: white;
  height: 50px;
  overflow: hidden;
  padding: 0 10px;
  position: relative;
}

.news-heading {
  font-weight: bold;
  margin-right: 15px;
  white-space: nowrap;
  font-size: 22px;
}

.news-bar {
  display: flex;
  flex: 1;
  overflow: hidden;
  position: relative;
  font-size: 18px;
}

.news-content {
  display: inline-block;
  white-space: nowrap;
  animation: scroll 30s linear infinite;
}

@keyframes scroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* Media Query for Mobile Screens */
@media (max-width: 706px) {
  .custom-navbar {
    height: auto;
    flex-wrap: wrap; /* Allow content to wrap on smaller screens */
  }

  .center-section {
    font-size: 16px;
    justify-content: center;
    text-align: center; /* Center text on smaller screens */
  }

  .right-section {
    margin-top: 10px; /* Add spacing for better alignment */
    flex-wrap: wrap;
    justify-content: center; /* Center the icons on smaller screens */
  }

  .bell {
    margin-top: 5px;
  }

  .logout {
    margin-top: 5px;
  }
}
